@model Food.Models.UserAccount
@{
    ViewBag.Title = "ManageFoodItems";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>
</head>

<body>
    <div id="login.div">
        @using (Html.BeginForm("Autherize", "Register", FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td style="text-decoration: underline">App Name </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Email)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Email)
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Password)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Password)
                    </td>

                </tr>
                <tr>
                    <td>
                        <input type="submit" name="name" value="login" />
                        <input type="reset" name="name" value="Clear" />

                    </td>
                </tr>
            </table>
        }
    </div>

</body>
</html>




