
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>About</h2>
<style>
    .about {
        padding: 40px;
        display: block;
        float: none;
    }
</style>



<h2 class="about">@ViewBag.Title.</h2>


<p class="about">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Ut fringilla tempor euismod. Aenean vehicula diam eget felis consequat,
    scelerisque ullamcorper libero tempor. Phasellus imperdiet,
    justo et pretium porttitor, nisi est molestie purus, at suscipit arcu turpis et felis.
    Nulla imperdiet sapien nec aliquam accumsan. Sed varius ullamcorper efficitur. Cras leo augue,
    molestie a justo volutpat, fringilla dictum ex. Suspendisse potenti. Vivamus risus lectus, facilisis nec arcu a,
    rhoncus molestie nibh.

    Phasellus a est maximus, porta risus tristique, tempor metus.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Vivamus vel suscipit tortor, at finibus urna. Vestibulum ac erat urna.
    Etiam malesuada sed justo vitae semper. Aenean ac nunc justo. Nulla ornare neque efficitur
    ultrices tincidunt.
</p>


