@model IEnumerable<Food.FoodItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Index</h2>

<style>
    .table {
        padding: 40px;
    }
</style>

<div style="height:60px"></div>
<div class="container">
    <h2 class="text-center">MENU</h2>
    @foreach(var item in Model)
    {
        double price = Convert.ToInt32(item.Price);

        <div class="col-md-3" style="margin-bottom:20px">
            <div class="thumbnail">
                <div class="image" style="margin-bottom:20px">
                    @{
                        var base64 = Convert.ToBase64String(item.Picture);
                        var imgsrc = string.Format("data:image/png;base64,{0}", base64);

                    }
                    <img src='@imgsrc' style="max-width:200px;max-height:200px" />
                    </div>
                <div class="caption" style="border-top:3px solid #000">
                    <h3><a href="#">@item.Name</a></h3>
                    <h4>@price.ToString("F2")Rs.</h4>
                    <td align="center">@Html.ActionLink("Add to Cart", "Cart", "Home", new { id = item.FoodID }, null)</td>

                </div>
            </div>
        </div>

        
    }
</div>


