@model IEnumerable<Food.FoodItem>

@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Index1</h2>
<table>
    <tr>
        @foreach(var item in Model)
        {
            <td>
                @{ 
                    var base64 = Convert.ToBase64String(item.Picture);
                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                }
                <img src="@imgsrc" style="max-width:100px; max-height:100px"/>
            </td>

        }
    </tr>
</table>

